[run]
source = src
parallel = False
data_file = .coverage
omit = 
    */generated_parser.py
    */__pycache__/*
    */tests/*
    */.pytest_cache/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[coverage:report]
precision = 2
fail_under = 80

[html]
directory = coverage_html
